<!-- CONTENT ENDS HERE -->
      </div> <!-- id=main -->
    </div> <!-- id=wrapper -->

    <!-- all the javascript... -->
    <script src="/libs/forty/jquery.min.js"></script>
    <script src="/libs/forty/jquery.scrolly.min.js"></script>
    <script src="/libs/forty/jquery.scrollex.min.js"></script>
    <script src="/libs/forty/browser.min.js"></script>
    <script src="/libs/forty/breakpoints.min.js"></script>
    <script src="/libs/forty/util.js"></script>
    <script src="/libs/forty/main.js"></script>

    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
  </body>
</html>
